body{
	background:url(bg.jpg) repeat-x;
	text-align:center;
}
.header-content{
	position: absolute;
	right: 10px; top: 25px;
	font: bolder 1.3em 'Trebuchet MS', sans-serif;
	color: #FFF;
	list-style: none;
	margin: 0; padding: 0;		
}
.header-content li {
	display: inline;
}
.header-content li a {
	float: left;
	display: block;
	padding: 3px 12px;	
	color: #FFF;
	background-color: #65944A;
	text-decoration: none;
	border-right: 1px solid #272727;
}
#fieldset{
	border:1px solid #dedede;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px; 
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px; 
	-moz-border-radius-topleft: 10px; 
	border-top-left-radius:10px;
	font: bold 1em 'Trebuchet MS', sans-serif; 
	padding-left:25px;
	padding-bottom : 25px;
}
#fieldset a {
	border : 0;
}
#result h2{
	text-align:center;
}
#contenuDetail{
	display:none;
}
#detail{
	padding-left:85%;
}